body {
    margin: 0!important;
    padding: 0!important;
    background-image: url('/style/img/fondo.webp')!important; /* Ruta de tu imagen de fondo */
    background-size: cover!important; /* Para cubrir todo el área del contenedor */
    background-position: center!important; /* Para centrar la imagen */
    font-family: Arial, sans-serif
}
#navbarTogglerDemo02{
    justify-content: end;
}