body {
    margin: 0!important;
    padding: 0!important;
    background-image: url('/style/img/fondo.webp')!important; 
    background-size: cover!important; 
    background-position: center!important;
    font-family: Arial, sans-serif
}
#icono{
    border-radius: 50% !important;
    
}
#perfil{
    background-color: transparent;
    border: none;
    max-width: 400px !important;
    max-height: 400px !important;
    border-radius: 50rem;
    padding: 1rem;
}
li{
    list-style: none;
}
#sobre-mi{
    align-items: center;
    align-content: center;

}
#navbarTogglerDemo02{
    justify-content: end;
}
#logos{
    max-width:4rem;
    background-color: transparent;
    align-items: center;
    align-content: center;
    text-align: center;
}
#max-col{
    display: flex;
    justify-content: center;
    align-items: center;

}
#box-text{
    text-align: start;
    max-width: 30rem;
}