body {
    margin: 0!important;
    padding: 0!important;
    background-image: url('/style/img/fondo.webp')!important; 
    background-size: cover!important; 
    background-position: center!important;
    font-family: Arial, sans-serif
}
#icono{
    border-radius: 50% !important;
    
}
#perfil{
    background-color: transparent;
    border: none;
    max-width: 400px !important;
    max-height: 400px !important;
    border-radius: 50rem;
    padding: 1rem;
}
li{
    list-style: none;
}
#sobre-mi{
    align-items: center;
    align-content: center;

}
#navbarTogglerDemo02{
    justify-content: end;
}
#logos{
    max-width:4rem;
    background-color: transparent;
    align-items: center;
    align-content: center;
    text-align: center;
}
#max-col{
    display: flex;
    justify-content: center;
    align-items: center;

}
#box-text{
    text-align: start;
    max-width: 30rem;
}
@media screen and (max-width: 600px) {
    #reversa{
        flex-direction: column-reverse !important;
    }
    #box-text{
        padding-top: 25px;
        text-align: left;
        max-width: 100%;
        padding-bottom: 45px;
    }
    #perfil{
        max-width: 200px !important;
        max-height: 200px !important;
    }
    #icono{
        max-width: 100px !important;
    }
    #max-col{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100px !important;
    }
    #mm{
        padding-left: 0px !important;
        align-items: center;
        justify-content: center;
        padding-top: 20px;

    }
    footer{
        padding: 0px !important;
        margin: 0px !important;
        text-align: center;
        align-items: center;
        align-content: center;
    }
    #logos{
        max-height: 80px !important;
    }
}